/* style add new product form */

.product-form-container{
   
 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../images/form-bg.jpg");
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
};
